Source: python-obspy-seishub
Section: python
Priority: extra
Maintainer: Moritz Beyreuther <beyreuth@geophysik.uni-muenchen.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.3.3
Vcs-Svn: https://svn.geophysik.uni-muenchen.de/svn/trunk/obspy.seishub/trunk
Vcs-Browser: https://svn.geophysik.uni-muenchen.de/svn/trunk/obspy.seishub/trunk
Homepage: http://www.obspy.org

Package: python-obspy-seishub
Architecture: all
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1), 
 python-setuptools (> 0.6), python-lxml (>= 2.1),
 python-matplotlib (>= 0.98.1), python-obspy-core, python-obspy-mseed
Description: SeisHub database client for ObsPy
 .
 For more information visit http://www.obspy.org.
