[run]
omit = 
       */data/*
       */docs/*
source = obspy/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise OSError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # skip missing imports which
    except ImportError
