*~
\#*
.#*
*.egg-info/
*.exp
*.lib
*.obj
*.pyc
*.pyd.manifest
*.pyo
.cache
.coverage
.DS_Store
.idea
.project
.pydevproject
.pytest_cache
.report.json
/.settings
RELEASE-VERSION
build/
coverage.xml
dist/
distribute-*.egg
distribute-*.tar.gz
misc/docs/source/packages/autogen/
misc/docs/source/credits.rst
misc/docs/source/citations.rst
misc/docs/node_modules/
misc/docs/package-lock.json
misc/docs/build/
misc/docker/logs/
obspy/lib/*.pyd
obspy/lib/*.so
obspy_report.html
obspy_test_images
/obspy.pstats
__pycache__
debian
obspy/core/tests/images/testrun/
obspy/station/tests/images/testrun/
obspy/imaging/tests/images/testrun/
obspy/taup/tests/images/testrun/
misc/docker_tests/temp/
# Temporary dir for the anaconda builds.
misc/installer/anaconda/conda_builds
.vscode/**
venv
weather.mseed
/misc/docs/.build/
