*.egg-info/
*.exp
*.lib
*.obj
*.pyc
*.pyd.manifest
*.pyo
.DS_Store
/.project
/.pydevproject
/.settings
RELEASE-VERSION
build/
dist/
distribute-*.egg
distribute-*.tar.gz
misc/docs/source/packages/autogen
obspy/lib/*.pyd
misc/docs/_build/
/obspy.pstats
