*.egg-info/
*.exp
*.lib
*.obj
*.pyc
*.pyd.manifest
*.pyo
.DS_Store
/.project
/.pydevproject
/.settings
RELEASE-VERSION
build/
dist/
distribute-*.egg
distribute-*.tar.gz
misc/docs/source/packages/autogen
misc/docs/source/_static/css/
misc/docs/source/_static/font.css
misc/docs/source/_static/fonts/
misc/docs/source/_templates/footer.html
misc/docs/source/_templates/navbar-local.html
misc/docs/source/credits.rst
misc/docs/_build/
misc/docker_tests/logs/
obspy/lib/*.pyd
/obspy.pstats
__pycache__
debian
obspy/core/tests/images/testrun/
obspy/station/tests/images/testrun/
obspy/imaging/tests/images/testrun/
obspy/taup/tests/images/testrun/
misc/docker_tests/temp/
