# Unfortunately setuptools and numpy.distutils do not like each other and lot's
# of small incompatibilities are around. One manifestation of this is that the
# source code and data files included in the setup.py are included in binary
# distributions but not in source distributions...
# Therefore the MANIFEST.in files appears to be necessary.
# See http://scipy-user.10969.n7.nabble.com/SciPy-User-setuptools-messing-with-sdists-using-numpy-distutils-and-Fortran-libraries-td19023.html
# for more details.

# Include the release-version file.
include obspy/RELEASE-VERSION

# Include source files, XML schemas files and some documentation files.
global-include *.c *.h *.f *.pyf *.inc *.xsd *.rng LICENSE.txt README.txt
include CHANGELOG.txt CONTRIBUTING.md CONTRIBUTORS.txt README.md

# Exclude the misc directory
prune misc
prune doc

# All tests/data directories
graft obspy/io/ah/tests/data
graft obspy/core/tests/data
graft obspy/io/quakeml/tests/data
graft obspy/geodetics/data
graft obspy/io/cnv/tests/data
graft obspy/io/css/tests/data
graft obspy/io/datamark/tests/data
graft obspy/clients/fdsn/tests/data
graft obspy/io/gse2/tests/data
graft obspy/imaging/tests/images
graft obspy/clients/iris/tests/data
graft obspy/io/kinemetrics/tests/data
graft obspy/io/mseed/tests/data
graft obspy/io/ndk/tests/data
graft obspy/io/nlloc/tests/data
graft obspy/io/pdas/tests/data
graft obspy/io/pde/tests/data
graft obspy/realtime/tests/data
graft obspy/io/sac/tests/data
graft obspy/io/seg2/tests/data
graft obspy/io/segy/tests/data
graft obspy/io/seisan/tests/data
graft obspy/io/sh/tests/data
graft obspy/signal/data
graft obspy/signal/tests/data
graft obspy/io/stationxml/tests/data
graft obspy/io/stationxml/tests/images
graft obspy/taup/data
graft obspy/taup/tests/data
graft obspy/taup/tests/images
graft obspy/io/wav/tests/data
graft obspy/io/xseed/tests/blockette-tests
graft obspy/io/xseed/tests/data
graft obspy/io/y/tests/data
graft obspy/io/zmap/tests/data

recursive-include obspy/core/tests/images *.png

# Geodetics data
graft obspy/geodetics/data

# Needed for the XSD validation
include obspy/io/stationxml/docs/Variations-FDSNSXML-SEED.txt
