# .coveragerc to control coverage.py
[run]
# a list of filename patterns; files to leave out of measurement or reporting
omit = */suds*,*/distribute*,*/pyshared/*,*/python-support/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if self\.debug

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # ignore ImportErrors
    except ImportError

    # ignore not implemented features
    raise NotImplementedError 
