sphinx>=4.2.0
m2r2>=0.2.7 # m2r is not maintained anymore, this fork is
pybtex>=0.24.0
sphinx_rtd_theme
matplotlib
numpy # required by cartopy
cython # required by cartopy
cartopy <= 0.20 # It requires Proj 8 which is not available even on bullseye
obspy

# deps used in tutorial but not working anymore
# basemap
# mlpy
