Source: python-obspy-iris
Maintainer: ObsPy Development Team <devs@obspy.org>
Section: python
Priority: extra
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1),
 python-numpy
Standards-Version: 3.9.3
Vcs-Svn: https://svn.obspy.org/trunk/obspy.iris
Vcs-Browser: https://svn.obspy.org/trunk/obspy.iris
Homepage: http://www.obspy.org

Package: python-obspy-iris
Architecture: all
Section: python
Priority: extra
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python (>= 2.6) | python-json (>=3.4-2) | python-simplejson (>=1.9),
 python-numpy (>= 1:1.1), python-obspy-core, python-obspy-mseed,
 python-setuptools (>= 0.6)
Description: IRIS web service client for ObsPy
 The obspy.iris package contains a client for the DMC Web Services provided by
 IRIS (http://www.iris.edu/ws/). 
 .
 ObsPy is an open-source project dedicated to provide a Python framework for
 processing seismological data. It provides parsers for common file formats and
 seismological signal processing routines which allow the manipulation of
 seismological time series (see  Beyreuther et. al. 2010). The goal of the ObsPy
 project is to facilitate rapid application development for seismology. 
 .
 For more information visit http://www.obspy.org.
Homepage: http://www.obspy.org
