Source: python-obspy-seisan
Section: python
Priority: extra
Maintainer: ObsPy Development Team <devs@obspy.org>
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1),
 python-setuptools (>= 0.6)
Standards-Version: x.x.x
Vcs-Svn: https://svn.obspy.org/trunk/obspy.seisan
Vcs-Browser: https://svn.obspy.org/trunk/obspy.seisan
Homepage: http://www.obspy.org

Package: python-obspy-seisan
Architecture: all
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), python-obspy-core
Description: Read seismograms, Format SEISAN
 For more information visit http://www.obspy.org.
