#!/usr/bin/make -f

.PHONY: binary

%:
	dh $@ --buildsystem=python_distutils --with=python2

binary:
	dh binary

override_dh_auto_install:
	sed -i -e '/tag_build/s/= .*/= ""/' -e '/tag_date/s/= .*/= 0/' -e '/tag_svn_revision/s/= .*/= 0/' setup.cfg
	dh_auto_install #-- release
	dh_numpy

override_dh_installdeb:
	find $(CURDIR)/debian -name LICENSE.txt -exec rm -f {} \;
	find $(CURDIR)/debian -name README.txt -exec rm -f {} \;
	find $(CURDIR)/debian -type d -name src | xargs rm -rf \; # in principle only needed for some modules
	dh_installdeb
