#gallery .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#gallery .figure {
  width: 30%;
}

#gallery .figure img  {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

#gallery .figure img:hover {
  border-color: #428bca;
}
