/* gallery */
#gallery div.figure {
  display : inline;
}

#gallery div.figure img {
  padding : 5px;
  vertical-align : middle;
}

/* external links */
a.external[href^="http:"] {
  background : transparent url(../extlink.gif) no-repeat scroll left center;
  padding-left : 15px;
}
a.external[href^="https:"] {
  background : transparent url(../extlink.gif) no-repeat scroll left center;
  padding-left : 15px;
}
a.external[href^="ftp:"] {
  background : transparent url(../extlink.gif) no-repeat scroll left center;
  padding-left : 15px;
}

div.highlight-python {
  margin : 1em 2em;
}

/* code sections */
pre {
  overflow-x : auto;
  overflow-y : hidden;
}

tt {
  background-color : #ECF0F3;
  font-family : Consolas, Menlo, Monaco, LucidaConsole, LiberationMono, DejaVuSansMono, BitstreamVeraSansMono, CourierNew, monospace, serif;
  font-size : 0.9em;
  padding : 2px;
}

tt.descname {
  font-size : 1.1em;
}

div.highlight {
  background-color : transparent;
}

div.highlight pre {
  background : none repeat scroll 0 0 #EEFFCC;
}


/* table stuff */
table.highlighttable td {
  padding : 0 0.2em;
}

table.highlighttable {
  margin-left : 0;
}

table.citation, table.citation td {
  border: none !important;
  background-color: transparent !important;
  margin-bottom: 5px;
}

table.hlist td {
  min-width: 250px;
  vertical-align: top;
}


p.rubric {
  font-size : 1.1em;
}

dd p {
  margin-top: 16px;
}


/* disable selection of doctest prefixes, e.g. >>> or ...*/
.highlight .gp {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
