Package: python-obspy
Architecture: all
Section: python
Priority: extra
Standards-Version: 3.9.3
Version: X.X.X  # gets filled in by packaging script
Maintainer: The ObsPy Development Team <devs@obspy.org>
Homepage: http://www.obspy.org
Depends: python-obspy-core, python-obspy-gse2, python-obspy-mseed,
 python-obspy-sac, python-obspy-seisan, python-obspy-sh, python-obspy-wav,
 python-obspy-signal, python-obspy-xseed, python-obspy-imaging,
 python-obspy-arclink, python-obspy-seishub, python-obspy-db,
 python-obspy-segy, python-obspy-neries, python-obspy-iris, python-obspy-taup,
 python-obspy-earthworm, python-obspy-seg2, python-obspy-realtime,
 python-obspy-datamark
Suggests: python-obspy-fissures
Description: Metapackage which installs all ObsPy packages
 .
 For more information visit http://www.obspy.org.
