Source: python-obspy-core
Section: python
Priority: extra
Maintainer: ObsPy Development Team <devs@obspy.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.4.7
Vcs-Svn: https://svn.obspy.org/trunk/obspy.core
Vcs-Browser: https://svn.obspy.org/trunk/obspy.core
Homepage: http://www.obspy.org

Package: python-obspy-core
Architecture: all
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1), 
 python-setuptools (> 0.6)
Description: Core classes of ObsPy: Python for Seismological Observatories
 This class contains common methods and classes for ObsPy. It includes
 UTCDateTime, Stats, Stream and Trace classes and methods for reading 
 seismograms.
 .
 For more information visit http://www.obspy.org.
