Package: python-obspy
Section: python
Priority: extra
Standards-Version: 0.3.5
Version: 0.3.5
Architecture: all
Maintainer: Moritz Beyreuther <beyreuth@geophysik.uni-muenchen.de>
Depends: python-obspy-core, python-obspy-gse2, python-obspy-mseed, python-obspy-sac, python-obspy-seisan,
 python-obspy-sh, python-obspy-wav, python-obspy-signal, python-obspy-xseed, python-obspy-imaging, python-obspy-arclink,
 python-obspy-fissures, python-obspy-seishub, python-obspy-db
Description: A metapackage which installs all ObsPy packages
 .
 For more information visit http://www.obspy.org.
