Source: python-obspy-realtime
Maintainer: ObsPy Development Team <devs@obspy.org>
Section: python
Priority: extra
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1),
 python-numpy
Standards-Version: 3.9.3
Vcs-Svn: https://svn.obspy.org/trunk/obspy.realtime
Vcs-Browser: https://svn.obspy.org/trunk/obspy.realtime
Homepage: http://www.obspy.org

Package: python-obspy-realtime
Architecture: all
Section: python
Priority: extra
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), ${shlibs:Depends}, python-obspy-core,
 python-setuptools (>= 0.6)
Description: The obspy.realtime package extends the ObsPy core classes with
 real time functionalities.
 .
 For more information visit http://www.obspy.org.
Homepage: http://www.obspy.org
