Source: python-obspy-mseed
Section: python
Priority: extra
Maintainer: Moritz Beyreuther <beyreuth@geophysik.uni-muenchen.de>
Build-Depends: debhelper (>= 5), gcc
Standards-Version: 0.4.8
Vcs-Svn: https://svn.obspy.org/trunk/obspy.mseed
Vcs-Browser: https://svn.obspy.org/trunk/obspy.mseed
Homepage: http://www.obspy.org

Package: python-obspy-mseed
Architecture: any
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1), 
 python-setuptools (> 0.6), ${shlibs:Depends}, python-obspy-core
Description: Read & write seismograms, Format MiniSeed
 .
 This module contains Python wrappers for libmseed - The MiniSeed
 library of Chad Trabant. Libmseed is written in C and interfaced via
 Python ctypes.
 .
 For more information visit http://www.obspy.org.
