Source: python-obspy-arclink
Maintainer: ObsPy Development Team <devs@obspy.org>
Section: python
Priority: extra
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1),
 python-numpy
Standards-Version: 3.9.3
Vcs-Svn: https://svn.obspy.org/trunk/obspy.arclink
Vcs-Browser: https://svn.obspy.org/trunk/obspy.arclink
Homepage: http://www.obspy.org

Package: python-obspy-arclink
Architecture: all
Section: python
Priority: extra
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), python-lxml (>= 2.1), python-obspy-core,
 python-obspy-mseed, python-setuptools (>= 0.6)
Description: ArcLink/WebDC request client for of ObsPy
 For more information visit http://www.obspy.org.
Homepage: http://www.obspy.org
