[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=link to ctypes tutorial
Type=Link
URL=http://python.net/crew/theller/ctypes/tutorial.html
Icon=gnome-fs-bookmark
