Source: python-obspy-signal
Section: python
Priority: extra
Maintainer: Moritz Beyreuther <beyreuth@geophysik.uni-muenchen.de>
Build-Depends: debhelper (>= 5), gcc
Standards-Version: 0.3.3
Vcs-Svn: https://svn.geophysik.uni-muenchen.de/svn/trunk/obspy.signal/trunk
Vcs-Browser: https://svn.geophysik.uni-muenchen.de/svn/trunk/obspy.signal/trunk
Homepage: http://www.obspy.org

Package: python-obspy-signal
Architecture: any
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1), 
 python-setuptools (> 0.6), ${shlibs:Depends}, python-scipy, python-obspy-core
Description: Python signal processing routines for seismology
 .
 Capabilities include filtering, triggering, rotation, instrument
 correction and coordinate transformations.
 .
 For more information visit http://www.obspy.org.
