#!/usr/bin/make -f

.PHONY: binary

export DH_ALWAYS_EXCLUDE=CVS:.git:.gitignore:__pycache__:src
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --buildsystem=pybuild --with=python2,python3

binary:
	dh binary

override_dh_auto_build:
	dh_auto_build
	set -ex; for python in $(shell py3versions -r); do \
	    $$python setup.py build; \
	done;

override_dh_auto_install:
	dh_auto_install #-- release
	python2 setup.py build_man
	dh_numpy
	dh_numpy3
	set -ex; for python in $(shell py3versions -r); do \
	    $$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done;
	python3 setup.py build_man
	ln build/man/* debian/
	ls -1 build/man/obspy-* | sed 's#.*/#./debian/#' > debian/python-obspy.manpages
	ls -1 build/man/obspy3-* | sed 's#.*/#./debian/#' > debian/python3-obspy.manpages

override_dh_install:
	# data files get separated into /usr/share for both python2/3 to use
	sh -x debian/_dh_install_data_files.sh
	# files for normal packages
	## bin
	dh_install -p python3-obspy "debian/tmp/usr/bin/obspy3-*"
	dh_install -p python-obspy "debian/tmp/usr/bin/obspy-*"
	## lib
	dh_install -p python3-obspy -X"tests/data" -X"tests/images" "debian/tmp/usr/lib/python3*/*-packages/*"
	dh_install -p python-obspy -X"tests/data" -X"tests/images" "debian/tmp/usr/lib/python2*/*-packages/*"
	# Continue with regular dh_install
	dh_install

override_dh_link:
	sh -x debian/_dh_link_data_files.sh
	dh_link

override_dh_installdeb:
	find $(CURDIR)/debian/ -name LICENSE.txt -exec rm -f {} \;
	find $(CURDIR)/debian/ -name README.txt -exec rm -f {} \;
	find $(CURDIR) -name RELEASE-VERSION -exec sh -c 'cat {} | sed s/-dirty// > {}.tmp && mv {}.tmp {}; chmod 0644 {}' \;
	dh_installdeb
