python-obspy (x.x.x-x) unstable; urgency=low

  * This changelog file is overwritten for every release, only the version
    is not kept up to date. Visit www.obspy.org for more information about
    the age and the contents of the version given above.

 -- ObsPy Development Team <devs@obspy.org>  Sun, 14 Oct 2012 14:12:00 +0200
