GR       GRSN                                                                             -    Erdbebendienst         1 2014-03-03T110706
BW       BayernNetz                                                                       -    Erdbebendienst         2 2014-03-03T110706
