Source: python-obspy-taup
Section: python
Priority: extra
Maintainer: ObsPy Development Team <devs@obspy.org>
Build-Depends: debhelper (>= 5), gcc, gfortran, python (>= 2.5),
 python-support (>= 0.7.1), python-numpy
Standards-Version: x.x.x
Vcs-Svn: https://svn.obspy.org/trunk/obspy.taup
Vcs-Browser: https://svn.obspy.org/trunk/obspy.taup
Homepage: http://www.obspy.org

Package: python-obspy-taup
Architecture: any
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), ${shlibs:Depends}, python-matplotlib (>= 0.98.1),
 python-obspy-core, python-setuptools (>= 0.6)
Description: Travel time calculation tool for ObsPy
 The obspy.taup package contains Python wrappers for iaspei-tau - a travel time
 library by Arthur Snoke (http://www.iris.edu/software/downloads/processing/).
 The library iaspei-tau is written in Fortran and interfaced via Python ctypes.
 .
 ObsPy is an open-source project dedicated to provide a Python framework for
 processing seismological data. It provides parsers for common file formats and
 seismological signal processing routines which allow the manipulation of
 seismological time series (see Beyreuther et al. 2010, Megies et al. 2011).
 The goal of the ObsPy project is to facilitate rapid application development
 for seismology.
 .
 For more information visit http://www.obspy.org.
