Source: python-obspy-wav
Section: python
Priority: extra
Maintainer: ObsPy Development Team <devs@obspy.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.4.7
Vcs-Svn: https://svn.obspy.org/trunk/obspy.wav
Vcs-Browser: https://svn.obspy.org/trunk/obspy.wav
Homepage: http://www.obspy.org

Package: python-obspy-wav
Architecture: all
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1), 
 python-setuptools (>= 0.6), python-obspy-core
Description: Read & write seismograms, Format WAV
 .
 Python methods in order to read and write seismograms to WAV audio
 files. The data are squeezed to audible frequencies.
 .
 For more information visit http://www.obspy.org.
