Source: python-obspy-core
Maintainer: ObsPy Development Team <devs@obspy.org>
Section: python
Priority: extra
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1),
 python-numpy, python-setuptools (>=0.6.21)
Standards-Version: 3.9.3
Vcs-Svn: https://svn.obspy.org/trunk/obspy.core
Vcs-Browser: https://svn.obspy.org/trunk/obspy.core
Homepage: http://www.obspy.org

Package: python-obspy-core
Architecture: all
Section: python
Priority: extra
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), python-setuptools (>= 0.6)
Description: Core classes of ObsPy: Python for Seismological Observatories
 This class contains common methods and classes for ObsPy. It includes
 UTCDateTime, Stats, Stream and Trace classes and methods for reading 
 seismograms.
 .
 For more information visit http://www.obspy.org.
Homepage: http://www.obspy.org
