Source: python-obspy-seedlink
Section: python
Priority: extra
Maintainer: ObsPy Development Team <devs@obspy.org>
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1)
Standards-Version: x.x.x
Vcs-Svn: https://svn.obspy.org/trunk/obspy.seedlink
Vcs-Browser: https://svn.obspy.org/trunk/obspy.seedlink
Homepage: http://www.obspy.org

Package: python-obspy-seedlink
Architecture: all
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), ${shlibs:Depends}, python-obspy-core,
 python-setuptools (>= 0.6), python-obspy-mseed
Description: SeedLink client for ObsPy.
 .
 For more information visit http://www.obspy.org.
