Source: python-obspy-arclink
Section: python
Priority: extra
Maintainer: ObsPy Development Team <devs@obspy.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.4.6
Vcs-Svn: https://svn.obspy.org/trunk/obspy.arclink
Vcs-Browser: https://svn.obspy.org/trunk/obspy.arclink
Homepage: http://www.obspy.org

Package: python-obspy-arclink
Architecture: all
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1),
 python-setuptools (> 0.6), python-lxml (>= 2.1), python-obspy-core, python-obspy-mseed
Description: ArcLink/WebDC request client for of ObsPy
 .
 For more information visit http://www.obspy.org.
