Source: python-obspy-segy
Maintainer: ObsPy Development Team <devs@obspy.org>
Section: python
Priority: extra
Build-Depends: debhelper (>= 5), python (>= 2.5), python-support (>= 0.7.1),
 python-numpy
Standards-Version: 3.9.3
Vcs-Svn: https://svn.obspy.org/trunk/obspy.segy
Vcs-Browser: https://svn.obspy.org/trunk/obspy.segy
Homepage: http://www.obspy.org

Package: python-obspy-segy
Architecture: any
Section: python
Priority: extra
Depends: python (>= 2.5), python (<< 3), ${python:Depends},
 python-numpy (>= 1:1.1), ${shlibs:Depends}, python-obspy-core,
 python-setuptools (>= 0.6)
Description: SEG Y and SU read and write support for ObsPy
 The obspy.segy package contains methods in order to read and write seismogram
 files in the SEG Y (rev. 1) and SU (Seismic Unix) format.
 .
 ObsPy is an open-source project dedicated to provide a Python framework for
 processing seismological data. It provides parsers for common file formats and
 seismological signal processing routines which allow the manipulation of
 seismological time series (see  Beyreuther et. al. 2010). The goal of the ObsPy
 project is to facilitate rapid application development for seismology. 
 .
 For more information visit http://www.obspy.org.
Homepage: http://www.obspy.org
