/* gallery */
#gallery div.figure {
  display : inline;
}

#gallery div.figure img {
  padding : 5px;
  vertical-align : middle;
}

/* external links */
a.external[href^="http:"] {
  background : transparent url(extlink.gif) no-repeat scroll left center;
  padding-left : 15px;
}
a.external[href^="https:"] {
  background : transparent url(extlink.gif) no-repeat scroll left center;
  padding-left : 15px;
}
a.external[href^="ftp:"] {
  background : transparent url(extlink.gif) no-repeat scroll left center;
  padding-left : 15px;
}

div.highlight-python {
  margin : 1em 2em;
}

/* code sections */
pre {
  background-color : #EEEEEE;
  border : 1px solid #CCCCCC;
  border-radius : 6px 6px 6px 6px;
  font-family : Consolas, Menlo, Monaco, LucidaConsole, LiberationMono, DejaVuSansMono, BitstreamVeraSansMono, CourierNew, monospace, serif;
  font-size : 0.9em;
  line-height : 130%;
  padding : 0.5em;
  overflow-x : auto;
  overflow-y : hidden;
}

tt {
  background-color : #ECF0F3;
  font-family : Consolas, Menlo, Monaco, LucidaConsole, LiberationMono, DejaVuSansMono, BitstreamVeraSansMono, CourierNew, monospace, serif;
  font-size : 0.9em;
  padding : 2px;
}

div.highlight {
  background-color : transparent;
}

div.highlight pre {
  background : none repeat scroll 0 0 #EEFFCC;
}


/* table stuff */
table.highlighttable td {
  padding : 0 0.2em;
}

table.highlighttable {
  margin-left : 0;
}

table.docutils {
  border-collapse : collapse;
}

table.docutils th {
  background-color : #EEDDEE;
  padding : 3px 5px;
  border : 1px solid #AAAAAA;
  border-collapse : collapse;
}

table.docutils th.head {
  text-align : center;
}

table.docutils td {
  min-width : 10em;
  background-color : #EEEEFF;
  padding : 3px 5px;
  border : 1px solid #AAAAAA;
  border-collapse : collapse;
}


/* navigation bar */
div.related {
  line-height : 2.5em;
}

div.related ul {
  list-style : none outside none;
  margin : 0;
  padding : 0 0 0 10px;
  height : 2.5em;
}


tt.descname {
  font-size : 1.1em;
}

p.rubric {
  font-size : 1.1em;
}

table.docutils td.field-body span.dash {
  display : block;
  padding : 0.5em 1em 0.5em 2em;
}

table.docutils td.field-body ul li {
  list-style-type : none;
  list-style-position : inside;
  padding-bottom : 0.5em;
}

table.docutils td.field-body ul {
  padding-left : 5px;
}

table.docutils td.field-body p {
  padding-left : 5px;
  padding-bottom : 0.5em;
}

dd p {
  margin-top: 16px;
}