# This workflow runs anytime new commits are added to master branch.
# It runs all network tests on the master branch using linux and one
# python version.
name: master_network_tests
on:
  push:
    branches:
      - master

# Set globally scoped environmental variables.
env:
  OBSPY_GITHUB_BRANCH: release_0.10.0

jobs:
  network_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: 'latest'
          python-version: 3.8
          activate-environment: test
          environment-file: .github/test_conda_env.yml

      - name: install obspy
        shell: bash -l {0}
        run: |
          python -m pip install -e .[tests]

      - name: install obspy github api
        shell: bash -l {0}
        run: |
          python -m pip install git+https://github.com/obspy/obspy_github_api@${OBSPY_GITHUB_BRANCH}

      - name: run test suite
        shell: bash -l {0}
        run: |
          obspy-runtests --network --coverage

      - name: upload coverage
        if: runner.os != 'macOS'
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: obspy/coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
